

.labelc {
    color: #804040;
    padding: 10px;
    font-size: 20px;
    
}
 .outer {
   
    width: 960px;
    color: #804040;
    background-color: white;
    border: 2px solid #804040;
  
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 100px;
    padding-right: 100px;
    
    margin: auto;
 }
 .outer.labelc:after{
	content:"*";
	color:red;
}

.select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #804040;
}

#gender { 
	width: 100%; 
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
     border: 2px solid #804040;
} 

#gender option { 
width:220px; 
border: 2px solid #804040;
}

#city { 
	width: 100%; 
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #804040;
} 
#city option { 
width:100%; 
border: 2px solid #804040;
}

#branch { 
	width: 100%; 
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #804040;
} 
#branch option { 
width:220px; 
border: 2px solid #804040;
}

#state { 
	width: 100%; 
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #804040;
} 
#state option { 
width:220px; 
border: 2px solid #804040;
}

#country { 
	width: 100%; 
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #804040;
} 
#country option { 
width:220px; 
border: 2px solid #804040;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #804040;
    color: white;
    font-size: 20px;
}
.registerbtn {
	 padding: 14px 20px;
    background-color: #804040;
    color: white;
    font-size: 20px;
}
.cancelbtn, .registerbtn {
  float: left;
  width: 50%;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .registerbtn {
    width: 100%;
  }
}

.submitbtn{
    padding: 14px 20px;
    background-color: #804040;
    color: white;
    font-size: 20px;
}

#payee { 
	width: 100%; 
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #804040;
} 
#payee option { 
width:220px; 
border: 2px solid #804040;
}

/* //for dropdown */
.dropbtn {
     padding: 14px 20px;
    background-color: #804040;
    color: white;
    font-size: 20px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #804040;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #804040;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}